<mat-dialog-content>
<div class="modal fade show" tabindex="-1">
  <div class="modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 mat-dialog-title class="modal-title">
          {{market_config?.id ? "Update" : "Create"}} market config
        </h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="cardForm" novalidate>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="excitement" formControlName="excitement">
            <label class="form-check-label" for="excitement">Excitement</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="player_market" formControlName="player_market">
            <label class="form-check-label" for="player_market">Player market</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="both_teams" formControlName="both_teams">
            <label class="form-check-label" for="both_teams">Both teams</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="show_percentage" formControlName="show_percentage">
            <label class="form-check-label" for="show_percentage">Show percentage</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="show_lucky_cheers" formControlName="show_lucky_cheers">
            <label class="form-check-label" for="show_lucky_cheers">Show lucky cheers</label>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" id="status" formControlName="status">
                <option value=1>On</option>
                <option value=0>Off</option>
              </select>
            </div>
            <div class="col mb-3">
              <label for="difficulty" class="form-label">Difficulty</label>
              <select class="form-select" id="difficulty" formControlName="difficulty">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
              </select>
            </div>
            <div class="col mb-3">
              <label for="prize" class="form-label">Prize</label>
              <input type="number" class="form-control" id="prize" formControlName="prize">
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="live_time" class="form-label">Live time</label>
              <input type="number" class="form-control" id="live_time" formControlName="live_time">
            </div>
            <div class="col mb-3">
              <label for="reaction_time" class="form-label">Reaction time</label>
              <input type="number" class="form-control" id="reaction_time" formControlName="reaction_time">
            </div>
            <div class="col mb-3">
              <label for="proba_auto" class="form-label">Proba auto</label>
              <select class="form-select" id="proba_auto" formControlName="proba_auto">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="group" class="form-label">Group</label>
              <input type="text" class="form-control" id="group" formControlName="group">
            </div>
            <div class="col mb-3">
              <label for="subgroup" class="form-label">Subgroup</label>
              <input type="text" class="form-control" id="subgroup" formControlName="subgroup">
            </div>
            <div class="col mb-3">
              <label for="class_name" class="form-label">Class name</label>
              <input type="text" class="form-control" id="class_name" formControlName="class_name">
            </div>
            <div class="col mb-3">
              <label for="type" class="form-label">Type</label>
              <select class="form-select" id="type" formControlName="type">
                <option value="BONUS">Bonus</option>
                <option value="HEAD_TO_HEAD">H2H</option>
                <option value="LIMITED_HEAD_TO_HEAD">LH2H</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="question" class="form-label">Question</label>
              <input type="text" class="form-control" id="question" formControlName="question">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="option1" class="form-label">Option 1</label>
              <input type="text" class="form-control" id="option1" formControlName="option1">
            </div>
            <div class="col mb-3">
              <label for="option2" class="form-label">Option 2</label>
              <input type="text" class="form-control" id="option2" formControlName="option2">
            </div>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <mat-dialog-actions align="end">
          <div class="btn-group grid-toolbar" role="toolbar">
            <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
            <button
              class="btn btn-primary"
              [mat-dialog-close]="true"
              [disabled]="cardForm.invalid"
              (click)="save()"
            >
              {{market_config?.id ? "Update" : "Create"}}
            </button>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
</div>
</mat-dialog-content>
