<mat-dialog-content>
<div class="modal fade show" tabindex="-1">
  <div class="modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 mat-dialog-title class="modal-title">
          {{trivia_config?.id ? "Update" : "Create"}} trivia config
        </h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="cardForm" novalidate>
          <div class="row">
            <div class="col mb-3">
              <label for="tag" class="form-label">Tag</label>
              <input type="text" class="form-control" id="tag" formControlName="tag">
            </div>
            <div class="col mb-3">
              <label for="difficulty" class="form-label">Difficulty</label>
              <select class="form-select" id="difficulty" formControlName="difficulty">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
              </select>
            </div>
            <div class="col mb-3">
              <label for="res" class="form-label">Res</label>
              <select class="form-select" id="res" formControlName="res">
                <option value=0>0</option>
                <option value=1>1</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="lifetime" class="form-label">Life time</label>
              <input type="number" class="form-control" id="lifetime" formControlName="lifetime">
            </div>
            <div class="col mb-3">
              <label for="bonus" class="form-label">Bonus</label>
              <input type="number" class="form-control" id="bonus" formControlName="bonus">
            </div>
            <div class="col mb-3">
              <label for="show_percentage" class="form-label">Show percentage</label>
              <select class="form-select" id="show_percentage" formControlName="show_percentage">
                <option value=1>On</option>
                <option value=0>Off</option>
              </select>
            </div>
            <div class="col mb-3">
              <label for="type" class="form-label">Type</label>
              <select class="form-select" id="type" formControlName="type">
                <option value="BONUS">Bonus</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div class="col mb-3">
              <label for="answer_a" class="form-label">Answer a</label>
              <input type="text" class="form-control" id="answer_a" formControlName="answer_a">
            </div>
            <div class="col mb-3">
              <label for="answer_b" class="form-label">Answer b</label>
              <input type="text" class="form-control" id="answer_b" formControlName="answer_b">
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="note" class="form-label">Note</label>
              <textarea class="form-control" id="note" rows="3" formControlName="note"></textarea>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <mat-dialog-actions align="end">
          <div class="btn-group grid-toolbar" role="toolbar">
            <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
            <button
              class="btn btn-primary"
              [mat-dialog-close]="true"
              [disabled]="cardForm.invalid"
              (click)="save()"
            >
              {{trivia_config?.id ? "Update" : "Create"}}
            </button>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
</div>
</mat-dialog-content>
