<div class="btn-group btn-group-sm grid-toolbar" role="toolbar">
  <button type="button" class="btn btn-secondary" (click)="create()">Create</button>
  <button type="button" class="btn btn-secondary" (click)="update()" [class.disabled]="!getSelectedRowId()">Update</button>
  <button type="button" class="btn btn-secondary" (click)="delete()" [class.disabled]="!getSelectedRowId()">Delete</button>
  <button type="button" class="btn btn-secondary disabled">View</button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table table-hover table-bordered">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">#{{element.id}}</td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{!!element.status ? "On" : "Off"}} </td>
    </ng-container>

    <!-- group Column -->
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>

    <!-- subgroup Column -->
    <ng-container matColumnDef="subgroup">
      <th mat-header-cell *matHeaderCellDef>Subgroup</th>
      <td mat-cell *matCellDef="let element"> {{element.subgroup}} </td>
    </ng-container>

    <!-- class_name Column -->
    <ng-container matColumnDef="class_name">
      <th mat-header-cell *matHeaderCellDef>Class name</th>
      <td mat-cell *matCellDef="let element"> {{element.class_name}} </td>
    </ng-container>

    <!-- difficulty Column -->
    <ng-container matColumnDef="difficulty">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Difficulty</th>
      <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- prize Column -->
    <ng-container matColumnDef="prize">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Prize</th>
      <td mat-cell *matCellDef="let element"> {{element.prize}} </td>
    </ng-container>

    <!-- live_time Column -->
    <ng-container matColumnDef="live_time">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Live time</th>
      <td mat-cell *matCellDef="let element"> {{element.live_time}} </td>
    </ng-container>

    <!-- reaction_time Column -->
    <ng-container matColumnDef="reaction_time">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Reaction time</th>
      <td mat-cell *matCellDef="let element"> {{element.reaction_time}} </td>
    </ng-container>

    <!-- proba_auto Column -->
    <ng-container matColumnDef="proba_auto">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Proba auto</th>
      <td mat-cell *matCellDef="let element"> {{element.proba_auto}} </td>
    </ng-container>

    <!-- question Column -->
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef>Question</th>
      <td mat-cell *matCellDef="let element"> {{element.question}} </td>
    </ng-container>

    <!-- option1 Column -->
    <ng-container matColumnDef="option1">
      <th mat-header-cell *matHeaderCellDef>Option 1</th>
      <td mat-cell *matCellDef="let element"> {{element.option1}} </td>
    </ng-container>

    <!-- option2 Column -->
    <ng-container matColumnDef="option2">
      <th mat-header-cell *matHeaderCellDef>Option 2</th>
      <td mat-cell *matCellDef="let element"> {{element.option2}} </td>
    </ng-container>

        <!-- show_percentage Column -->
    <ng-container matColumnDef="show_percentage">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Show percentage</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.show_percentage)"></span>
      </td>
    </ng-container>

    <!-- excitement Column -->
    <ng-container matColumnDef="excitement">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Excitement</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.excitement)"></span>
      </td>
    </ng-container>

    <!-- player_market Column -->
    <ng-container matColumnDef="player_market">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Player market</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.player_market)"></span>
      </td>
    </ng-container>

    <!-- both_teams Column -->
    <ng-container matColumnDef="both_teams">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Both teams</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.both_teams)"></span>
      </td>
    </ng-container>

    <!-- show_lucky_cheers Column -->
    <ng-container matColumnDef="show_lucky_cheers">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Show lucky cheers</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.show_lucky_cheers)"></span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="onSelected(row)"
      (dblclick)="update()"
      [class.row-is-clicked]="triggerSelectedClass(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
