<div class="btn-group btn-group-sm grid-toolbar" role="toolbar">
  <button type="button" class="btn btn-secondary disabled">Create</button>
  <button type="button" class="btn btn-secondary disabled">Update</button>
  <button type="button" class="btn btn-secondary disabled">Delete</button>
  <button
    type="button" class="btn btn-secondary"
    [class.disabled]="!getSelectedRowId()"
    [routerLink]="['../', getSelectedRowId()]"
  >
    View
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table table-hover table-bordered">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">#{{element.id}}</td>
    </ng-container>

    <!-- dt Column -->
    <ng-container matColumnDef="dt">
      <th mat-header-cell [class]="['mat-column-sxl']" *matHeaderCellDef>Event date</th>
      <td mat-cell *matCellDef="let element"> {{element.dt | date:"short"}} </td>
    </ng-container>

    <!-- h_tn Column -->
    <ng-container matColumnDef="h_tn">
      <th mat-header-cell *matHeaderCellDef>Home team</th>
      <td mat-cell *matCellDef="let element">#{{element.h_tid}} - {{element.h_tn}} </td>
    </ng-container>

    <!-- v_tn Column -->
    <ng-container matColumnDef="v_tn">
      <th mat-header-cell *matHeaderCellDef>Away team</th>
      <td mat-cell *matCellDef="let element">#{{element.v_tid}} - {{element.v_tn}} </td>
    </ng-container>

    <!-- markets_team Column -->
    <ng-container matColumnDef="markets_team">
      <th mat-header-cell [class]="['mat-column-sl']" *matHeaderCellDef>Markets team</th>
      <td mat-cell *matCellDef="let element"> {{marketTeamWidget(element.markets_team)}} </td>
    </ng-container>

    <!-- load_statistic Column -->
    <ng-container matColumnDef="load_statistic">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Load statistic</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.load_statistic)"></span>
      </td>
    </ng-container>

    <!-- send_markets Column -->
    <ng-container matColumnDef="send_markets">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Send markets</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.send_markets)"></span>
      </td>
    </ng-container>

    <!-- full_auto Column -->
    <ng-container matColumnDef="full_auto">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Full auto</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.full_auto)"></span>
      </td>
    </ng-container>

    <!-- enable_resolve Column -->
    <ng-container matColumnDef="enable_resolve">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Enable resolve</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="checkBoxWidget(element.enable_resolve)"></span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="onSelected(row)"
      (dblclick)="viewRedirect(row)"
      [class.row-is-clicked]="triggerSelectedClass(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
