.login-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  padding: 30px 85px;
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(21,6,65,.1);
  min-width: 600px;
}
