<div *ngIf="this.authService.isAuthorized; then codeCard; else loginCard"></div>

<ng-template #loginCard>
  <div class="login-container">
    <div class="login-card">
      <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <app-progress-bar *ngIf="authService.isLoading"></app-progress-bar>

        <button [disabled]="loginForm.invalid"  class="btn btn-primary pull-right">Get Code</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #codeCard>
  <div class="login-container">
    <div class="login-card">
      <form [formGroup]="codeForm" novalidate>
        <div class="mb-3">
          <label for="code" class="form-label">Code</label>
          <input type="text" class="form-control" id="code" formControlName="code">
        </div>
        <app-progress-bar *ngIf="authService.isLoading"></app-progress-bar>

        <div class="btn-group pull-right" role="group">
          <button
            [disabled]="codeForm.invalid"
            (click)="sendCode()"
            class="btn btn-primary pull-right"
          >
            Log in
          </button>
          <button [disabled]="authService.isLoading" (click)="resendCode()" class="btn btn-primary pull-right">Resend code</button>
          <button [disabled]="authService.isLoading" (click)="logout()" class="btn btn-primary pull-right">Log out</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
