<div class="btn-group btn-group-sm grid-toolbar" role="toolbar">
  <button type="button" class="btn btn-secondary disabled">Create</button>
  <button type="button" class="btn btn-secondary disabled">Update</button>
  <button type="button" class="btn btn-secondary disabled">Delete</button>
  <button type="button" class="btn btn-secondary disabled">View</button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table table-hover table-bordered">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">#{{element.id}}</td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}}  <span class="pull-right tag" >{{element.period}}</span></td>
    </ng-container>

    <!-- first_condition Column -->
    <ng-container matColumnDef="first_condition">
      <th mat-header-cell *matHeaderCellDef>First condition</th>
      <td mat-cell *matCellDef="let element"> {{element.first_condition}} </td>
    </ng-container>

    <!-- second_condition Column -->
    <ng-container matColumnDef="second_condition">
      <th mat-header-cell *matHeaderCellDef>Second condition</th>
      <td mat-cell *matCellDef="let element"> {{element.second_condition}} </td>
    </ng-container>

    <!-- class_name Column -->
    <ng-container matColumnDef="class_name">
      <th mat-header-cell *matHeaderCellDef>Class name</th>
      <td mat-cell *matCellDef="let element"> {{element.class_name}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- form_time Column -->
    <ng-container matColumnDef="form_time">
      <th mat-header-cell *matHeaderCellDef>Form time</th>
      <td mat-cell *matCellDef="let element"> {{element.form_time | date:"short"}} </td>
    </ng-container>

    <!-- resolve Column -->
    <ng-container matColumnDef="resolve">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Resolve condition</th>
      <td mat-cell *matCellDef="let element">{{resolveWidget(element.resolve)}}</td>
    </ng-container>

    <!-- resolve_actionNumber Column -->
    <ng-container matColumnDef="resolve_actionNumber">
      <th mat-header-cell *matHeaderCellDef>Resolve action number</th>
      <td mat-cell *matCellDef="let element">
        <span [innerHTML]="resolveActionNumberLink(element.resolve_actionNumber)"></span>
      </td>
    </ng-container>

    <!-- resolve_time Column -->
    <ng-container matColumnDef="resolve_time">
      <th mat-header-cell *matHeaderCellDef>Resolve time</th>
      <td mat-cell *matCellDef="let element"> {{element.resolve_time | date:"short"}} </td>
    </ng-container>

    <!-- errors Column -->
    <ng-container matColumnDef="error_id">
      <th mat-header-cell *matHeaderCellDef>Error</th>
      <td mat-cell *matCellDef="let element">
        <span [hidden]="!element.error_id" class="nav-link" (click)="selectErrorLog(element.error_id)">link</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="onSelected(row)"
      [class.row-is-clicked]="triggerSelectedClass(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
