<h2>Event: {{representation()}}</h2>

<mat-tab-group
  [selectedIndex]="tabs.value"
  (selectedIndexChange)="tabs.setValue($event)"
  animationDuration="0ms"
>
  <mat-tab label="Main">
    <div *ngTemplateOutlet="mainBlock"></div>
  </mat-tab>
  <mat-tab label="Markets ({{event?.markets_count}})">
    <div *ngTemplateOutlet="marketsBlock" class="container-fluid"></div>
  </mat-tab>
  <mat-tab disabled label="Play by Play">
    <div *ngTemplateOutlet="pbpBlock" class="container-fluid"></div>
  </mat-tab>
  <mat-tab label="Logs ({{event?.error_count}})">
    <div *ngTemplateOutlet="logsBlock" class="container-fluid"></div>
  </mat-tab>
</mat-tab-group>

<ng-template #mainBlock>
  <div class="view-block">
    <div class="row">
      <div class="col">
        <div class="row field">
          <span class="fw-bold">Home team:</span>
          <span>{{event?.homeTeamName}}</span>
        </div>
        <div class="row field">
          <span class="fw-bold">Score:</span>
          <span>{{event?.homeScore}}</span>
        </div>
      </div>
      <div class="col">
        <div class="row field">
          <span class="fw-bold">Visitor team:</span>
          <span>{{event?.awayTeamName}}</span>
        </div>
        <div class="row field">
          <span class="fw-bold">Score:</span>
          <span>{{event?.awayScore}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #marketsBlock>
  <div class="view-block">
    <app-event-markets [event_id]="id" [event_view]="getView()"></app-event-markets>
  </div>
</ng-template>

<ng-template #pbpBlock>
  <div class="view-block">
    Next release
  </div>
</ng-template>

<ng-template #logsBlock>
  <div class="view-block">
    <div
      id="event-log-{{log.id}}"
      class="logs"
      [class.error-log-hilighting]="triggerErrorLogSelectedClass(log)"
      *ngFor="let log of logs"
    >
      <div class="log-datetime">{{log.datetime | date:"short"}}</div>
      <div class="log-text ">{{log.data}}</div>
    </div>
    <span [class]="checkAnchor()"></span>
  </div>
</ng-template>
