.header {
  color: aliceblue;
  font-size: 13px;
  height: 100%;
  padding-right: 15px;
}

.navbar-header {
  height: 35px;
  display: inline-block;
  width: 100%;
}

.nav-link {
  color: aliceblue;
  padding: 0;
}

.container {
  max-width: 1500px;
}

.main-block {
  padding: 25px 0 25px 0;
}
