<div *ngIf="isLoggedIn(); then authorizedBlock; else unAuthorizedBlock"></div>

<ng-template #authorizedBlock>
  <nav class="navbar navbar-dark bg-dark navbar-header container-fluid">
    <div class="header pull-right">
      <a class="nav-link" (click)="logout()">Logout</a>
    </div>
    <div class="header pull-right">{{ authService.userName }}</div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/events/list']" routerLinkActive="active">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/markets_config/list']" routerLinkActive="active">Markets config</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/trivia_config/list']" routerLinkActive="active">Trivias config</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container main-block">
    <router-outlet></router-outlet>
  </div>
</ng-template>

<ng-template #unAuthorizedBlock>
  <app-login></app-login>
</ng-template>

<app-footer></app-footer>
