<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="api/events/list">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="api/markets/list" routerLinkActive="active">Markets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="api/markets_config/list" routerLinkActive="active">Markets config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="api/trivia_config/list" routerLinkActive="active">Trivias config</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
