@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #eae7e4;
}

.pull-right {
  float: right!important;
}

.pull-left {
  float: left!important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.grid-toolbar {
  padding-bottom: 10px;
}

.nav-link {
  cursor: pointer;
}

.row-is-clicked {
  background-color: #aec4f5 !important;
}

table {
  width: 100%;
  background-color: white !important;
  text-align: center;
  vertical-align: middle !important;
  border-color: #bcbebfad !important;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.mat-ripple-element {
  display: None;
}

.mat-tab-labels {
  border-bottom: 1px solid #000
}

.mat-tab-label-active {
  color: #000;
  background-color: #b5b5b5;
  border-color: #000 #000 #000;
  border-radius: 5px;
}

.view-block {
  background-color: #b7b5b54f;
  overflow: hidden;
  margin: 15px 5px 0 5px;
  padding: 5px 20px;
}

.field {
  padding-bottom: 10px;
}

.logs {
  margin-bottom: 30px;
  padding: 10px;
}

.log-datetime {
  padding-left: 10px;
  border-bottom: 2px solid #146798;
}

.log-text {
  padding-left: 10px;
}

.show {
  display: block;
}

.modal-fullscreen {
  padding: 35px 0 22px 0 !important;
}

.modal-content {
  padding: 20px;
}

.mat-simple-snackbar-action {
  color: black !important;
}

.notificate {
  background-color: #efef45 !important;
  color: black !important;
}

.warning {
  background-color: #f55959 !important;
  color: black !important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0 !important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0 !important;
}

.mat-header-cell {
  color: rgb(0, 0, 0) !important;
  background-color: #ffe3d1 !important;
}

.mat-header-cell {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-column-ss {
  width: 60px;
}

.mat-column-sl {
  width: 100px;
}

.mat-column-sxl {
  width: 140px;
}

.mat-column-sxxl {
  width: 180px;
}

.tag {
  border: 1px solid black;
  border-radius: 3px;
  display: block;
  min-width: 20px;
  background-color: rgba(57, 55, 55, 0.26);
  margin-right: 5px;
  font-size: 13px;
}

.error-log-hilighting {
  background-color: #ffff009c !important;
  border: 1px solid black;
  border-radius: 5px;

}
