<div class="btn-group btn-group-sm grid-toolbar" role="toolbar">
  <button type="button" class="btn btn-secondary" (click)="create()">Create</button>
  <button type="button" class="btn btn-secondary" (click)="update()" [class.disabled]="!getSelectedRowId()">Update</button>
  <button type="button" class="btn btn-secondary" (click)="delete()" [class.disabled]="!getSelectedRowId()">Delete</button>
  <button type="button" class="btn btn-secondary disabled">View</button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table table-hover table-bordered">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">#{{element.id}}</td>
    </ng-container>

    <!-- tag Column -->
    <ng-container matColumnDef="tag">
      <th mat-header-cell [class]="['mat-column-sl']" *matHeaderCellDef>Tag</th>
      <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- answer_a Column -->
    <ng-container matColumnDef="answer_a">
      <th mat-header-cell [class]="['mat-column-sl']" *matHeaderCellDef>Answer A</th>
      <td mat-cell *matCellDef="let element"> {{element.answer_a}} </td>
    </ng-container>

    <!-- answer_b Column -->
    <ng-container matColumnDef="answer_b">
      <th mat-header-cell [class]="['mat-column-sl']" *matHeaderCellDef>Answer B</th>
      <td mat-cell *matCellDef="let element"> {{element.answer_b}} </td>
    </ng-container>

    <!-- difficulty Column -->
    <ng-container matColumnDef="difficulty">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Difficulty</th>
      <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
    </ng-container>

    <!-- res Column -->
    <ng-container matColumnDef="res">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Res</th>
      <td mat-cell *matCellDef="let element"> {{element.res}} </td>
    </ng-container>

    <!-- lifetime Column -->
    <ng-container matColumnDef="lifetime">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Lifetime</th>
      <td mat-cell *matCellDef="let element"> {{element.lifetime}} </td>
    </ng-container>

    <!-- bonus Column -->
    <ng-container matColumnDef="bonus">
      <th mat-header-cell [class]="['mat-column-ss']" *matHeaderCellDef>Bonus</th>
      <td mat-cell *matCellDef="let element"> {{element.bonus}} </td>
    </ng-container>

    <!-- note Column -->
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef>Note</th>
      <td mat-cell *matCellDef="let element"> {{element.note}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="onSelected(row)"
      (dblclick)="update()"
      [class.row-is-clicked]="triggerSelectedClass(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
